.node {
    width: 25px;
    height: 25px;
    outline: 1px solid #555;
    display: inline-block;
    border-radius: 8px; /* Rounded squares */
    transition: background-color 0.3s ease, border-radius 0.3s ease;
}

.node:hover {
    background-color: #444;
}

.node-visited {
    animation-name: visitedAnimation;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    background-color: #ffc107; /* Amber */
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: #6f42c1; /* Purple */
    border-radius: 100%;
  }

  50% {
    background-color: #007bff; /* Blue */
  }

  75% {
    transform: scale(1.2);
    background-color: #28a745; /* Green */
  }

  100% {
    transform: scale(1);
    background-color: #ffc107; /* Amber */
  }
}


.node-start {
    background-color: #007bff; /* Blue */
}

.node-end {
    background-color: #dc3545; /* Red */
}

.node-obs {
    background-color: #6c757d; /* Gray */
}

.node-shortest-path {
    background-color: #28a745; /* Green */
}

.node-current {
    background-color: #6f42c1; /* Purple */
}