.node {
    width:25px;
    height:25px;
    outline: 1px solid rgba(15, 98, 254, 0.58);
    display: inline-block;
    border-radius: .5em;

}

.node-visited{
    background-color:yellow;
    outline:yellow;
    /*border-radius: 0;*/
}

.node-start{
    background-color:deepskyblue;

}
.node-end{
    background-color:indianred;

}
.node-obs{
    background-color:black;

}
.node-shortest-path{
    background-color:greenyellow;

}



